

/* ---------------------------- General ------------------------------------ */

header .container, .navbar{
    background-color: rgb(28,152,165) !important;
}

.container-fluid {
    padding: 0;
}

#top-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

#nyhedsbrev {
    margin-top: 50px;
    background-image: url("../img/bottom-img.jpg"); 
    /* padding: 0 120px; */
}

#nyhedsbrev button, .newsletter-box button {
    background-color: rgba(30, 14, 55, 0);
    border: none;
}

#input-area {
    padding-top: 50px;
}

.nyhedsbrev-input {
    margin-bottom: 20px;
}


/* Infobox - Oplevelses side */

#infobox {
    margin-top:50px;
}

#colorBox1{
    background-color: #033944;
}

#colorBox2{
    background-color: #4d9099;
}

#colorBox3{
    background-color: #b93035;
}

#content{
    width:100%;
    background-color: #033944;
}

#infobox .img-responsive{
    margin: 10% auto;
}

footer{
    background-color: rgb(28,152,165);
}

.container-footer {
    padding-top: 45px;
    padding-bottom: 45px;
}

.payments {
    font-size: 1.5em;
    color: #ffffff;
}

.fa {
    margin-left: 20px;
}

.footer-bottom {
    background-color: rgb(19,77,83);
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ---------------------------- Typography ------------------------------------ */

p{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size:60px;
}


h2 {
    font-family: 'Berkshire Swash', cursive;
    font-size:32px;
}

h3 {
    font-family: 'Berkshire Swash', cursive;
    font-size:24px;
}

#nyhedsbrev h2, #nyhedsbrev p, #nyhedsbrev label {
    color: #ffffff;
}

#infobox h2, #infobox h3{
    color:white;
    text-align: center;  
}
#infobox p{
    color:white;
}

footer p{
    color:white;
}

footer h3 {
    color: #ffffff;
}

/* ---------------------------- Images ------------------------------------ */

#logo {
    height: 45px;
    padding-top: 5px;
}

#butikken {
    margin-top: 30px;
}



/* ---------------------------- Links and buttons ------------------------------------ */

.navbar-brand {
    font-family: 'Berkshire Swash';
    color: #ffffff !important;
    font-size: 30px;
}

header li a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ffffff !important;
}

.footer a{
    color:white;
}

.footer ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.footer ul li a {
    color: #EE8726;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: 700;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #E95425;
}

.social li {
    background: none repeat scroll 0 0 #3c5a75 ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 50px;
    line-height: 50px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 50px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    border: 2px solid #2c3e50 ;
    background: #2c3e50 ;
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1 ;
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}